{% include 'tv/header.html' %}

<style>
    body {
        background-color: #111;
        color: #fff;
        font-family: 'Arial', sans-serif;
    }

    .all_list_film {
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #222;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row; /* Обновлено на flex-direction: row */
        align-items: center;
        text-align: left; /* Обновлено на text-align: left */
    }

    img {
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(255, 69, 0, 0.8); /* Тень оранжевого цвета */
        margin-right: 20px; /* Добавлено для отступа между изображением и текстом */
        width: 70%;
        height: 90%;
    }

    h1 {
        color: #ff4500; /* Оранжевый цвет */
        font-size: 70px;
    }

    p {
        margin: 10px 0;
        font-size: 20px;
    }

    a {
        color: #00bfff; /* Цвет небесно-голубой */
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="all_list_film">
    <img src="{{ tv_shows_id.image.url }}" alt="{{ tv_shows_id.title }}">
    <div>
        <h1>{{ tv_shows_id.title }}</h1>
        <p>Цена: {{ tv_shows_id.price }}</p>
        <p>Описание: {{ tv_shows_id.description }}</p>
        <p>Режиссер: {{ tv_shows_id.author }}</p>
        <p>Жанр: {{ tv_shows_id.genre }}</p>
        <a href="{{ tv_shows_id.trailer }}" target="_blank">Трейлер фильма</a>
    </div>
</div>

{% include 'tv/footer.html' %}
