<!-- Заголовок и подключение стилей -->
{% include 'tv/header.html' %}

<!-- Область с фильмами -->
<div class="all_films">
    <h1>Список фильмов</h1>
    <div class="row">
        {% for i in tv_shows %}
        <div class="col-md-4 mb-4">
            <h2>{{ i.title }}</h2>
            <a href="/film_list/{{ i.id }}/">
                <img src="{{ i.image.url }}" class="img-fluid" alt="{{ i.title }}">
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Подключение футера -->
{% include 'tv/footer.html' %}
